*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* #0A141E */
img{
  width: 100%;
  height: auto;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245, 245, 245);
}
header{
  width: 100%;
  background-color: #0A141E;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.ptop{
  padding-top: 60px;
}
.btn:focus{
  box-shadow: none;
  outline: none;
  border-color: transparent;
}
.button{
  background-color: #fff !important;
  border: 2px solid #8BC2DA;
}

/* Nav.js */
.nav{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-brand{
  width: 100px;
}
/* Nav.js */

/* Pokemon.js */
.pokemon-list{
  margin-top: 30px;
}
.card{
  position: relative;
  padding: 15px 20px;
  background-color: #0B0605;
  color: #fff;
  border-radius: 15px;
  margin: 10px 0;
  border: 2px solid #8BC2DA;
  box-shadow: 0 0 10px 1px #8BC2DA;
}
.card-img{
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img::before{
  content: '';
  background: url('./images/pokeball.png') center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  opacity: .5;
}
.card-img img{
  transform: scale(1);
  transition: .6s ease;
  opacity: 1 !important;
  height: 200px;
}
.card:hover .card-img img{
  transform: scale(1.05);
}
.card-content .card-id{
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 25px;
  font-weight: 600;
}
.card-name{
  padding: 10px 0 5px;
  border-top: 2px solid #8BC2DA;
}
/* Pokemon.js */

/* Search.js */
.search{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
form{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group .button{
  background-color: #0A141E !important;
  color: #fff;
}
input::placeholder{
  color: #193149;
}
.form-group input{
  color: #0A141E;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #8BC2DA;
  margin-bottom: 10px;
  font-size: 18px;
}
/* Search.js */

/* PokemonDetail */
.pokemon{
  margin-top: 30px;
  margin-bottom: 30px;
  color: #0A141E;
}
.pokemon-id h3{
  font-size: 35px;
  font-weight: 600;
}
.pokemon-name h2{
  font-size: 45px;
  font-weight: 600;
}
.pokemon-img{
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  background: url('./images/electron.jpg') center no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.pokemon-type{
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  color: #fff;
  background-color: #0A141E;
}
.pokemon-type h3{
  font-size: 30px;
}
.type-grp{
  display: flex;
  justify-content: center;
}
.type-grp p{
  margin: 0 10px;
  font-size: 20px;
  color: #0A141E;
  background-color: #fff;
  padding: 5px 10px;
  width: 200px;
  border-radius: 15px;
}
.pokemon-about{
  background-color: #0A141E;
  margin-top: 30px;
  padding: 30px 0 0;
  color: #fff;
}
.about-detail p {
  font-size: 30px;
  font-weight: 600;
}
.pokemon-detail h3{
  font-size: 35px;
  font-weight: bold;
}
.pokemon-detail p{
  font-size: 18px;
  font-weight: 300;
}
/* PokemonDetail */